@{
    ViewData["Title"] = "Contacts";
}

<h1 style="vertical-align:middle; text-align:center; padding-bottom:30px">Offices and warehouses</h1>

<div class="float-left" style="padding-left: 200px">
    <h2 style="color: purple">Sofia</h2>
    <dl class="float-left">
        <dt><i class="fas fa-mobile-alt" style="padding-right: 10px"></i>Tel: +359884455855</dt>
        <dt><i class="fas fa-fax" style="padding-right: 5px"></i>Fax: +352 4406-4463</dt>
        <dt><i class="fas fa-at" style="padding-right: 5px"></i>Email: smartprofilsofia@gmail.com</dt>
        <dt><i class="fas fa-map-marker-alt" style="padding-right: 8px"></i>Address: Filip Kutev 137</dt>
    </dl>

    <div class="mapouter">
        <div class="gmap_canvas ;float-left">
            <iframe width="350" height="330" id="gmap_canvas" src="https://maps.google.com/maps?q=42%C2%B039'27.2%22N%2023%C2%B019'36.0%22E&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
        </div>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 350px;
                width: 350px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 350px;
                width: 350px;
            }
        </style>
    </div>
</div>

<div class="float-right" style="padding-right: 200px">
    <h2 style="color: purple">Stara Zagora</h2>
    <dl class="float-left">
        <dt><i class="fas fa-mobile-alt" style="padding-right: 10px"></i>Tel: +359888844144</dt>
        <dt><i class="fas fa-fax" style="padding-right: 5px"></i>Fax: +352 4202-4452</dt>
        <dt><i class="fas fa-at" style="padding-right: 5px"></i>Email: smartprofilstz@gmail.com</dt>
        <dt><i class="fas fa-map-marker-alt" style="padding-right: 8px"></i>Address: Kaloyanovsko shose 16</dt>
    </dl>

    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="350" height="330" id="gmap_canvas" src="https://maps.google.com/maps?q=42%C2%B024'43.0%22N%2025%C2%B037'19.5%22E&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 350px;
                width: 350px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 350px;
                width: 350px;
            }
        </style>
    </div>
</div>




