@{
    ViewData["Title"] = "About SmartP!";
}


<ul class="float-left col-2 ">
    <li>Sofia:</li>
    <li>Tel:</li>
    <li>Fax:</li>
</ul>

<div id="mapdiv" class="float-left col-8" style="width: 300px; height: 300px;">
    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <script>
        map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var lonLat = new OpenLayers.LonLat(23.32654, 42.65745)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );

        var zoom = 15;

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        markers.addMarker(new OpenLayers.Marker(lonLat));

        map.setCenter(lonLat, zoom);
    </script>
</div>

<ul class="float-left col-2" style="padding-left: 50px;">
    <li>Stara Zagora:</li>
    <li>Tel:</li>
    <li>Fax:</li>
</ul>

<div id="mapdiv2" class="float-right col-8" ; style="width: 300px; height: 300px;">
    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <script>
        map = new OpenLayers.Map("mapdiv2");
        map.addLayer(new OpenLayers.Layer.OSM());

        var lonLat = new OpenLayers.LonLat(25.622097, 42.412007)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );

        var zoom = 15;

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        markers.addMarker(new OpenLayers.Marker(lonLat));

        map.setCenter(lonLat, zoom);
    </script>
</div>
